*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(60, 60, 70);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@font-face {
    font-family: 'HeadlineFont';
    src: url('../../fonts/MaShanZheng-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MainBodyFont_1';
    src: url('../../fonts/NotoSerifSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 头部样式 */
header {
    display: flex;
    position: fixed;
    top:0;
    width:100%;
    font-family:'MainBodyFont_1' ;
    align-items: center;
    justify-content:space-around;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.53);
    z-index: 100;
}

header .title {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 20%;
}
header .logo{
    display: flex;
    width:30px;
    margin-right: 30px;
    

}
header .logo img {
    width:100%;
    height: auto;
}

header .title h1 {
    font-size: 30px;
    font-family: 'HeadlineFont';
    color: #2b2323;
    text-align: center;
}

/* 主导航栏 */
header #main-nav {
    width: 50%;
    padding: 0;
    margin: 0;
}

header .nav-primary{

    line-height: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}


header .nav-primary > li {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}

header .nav-primary > li > a {
    text-decoration: none;
    color: #1e241f;
    padding: 20px 15px;
    margin: 0;
    display: block;
    font-size: 18px;

}

header .nav-primary > li > a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


/* 二级、三级导航栏默认隐藏 */
header .nav-secondary,
header .nav-tertiary {
    display: none;
    position: absolute;
    top: 100%; /* 二级菜单显示在一级菜单下方 */
    left: 0;
    background-color:rgba(255, 255, 255, 0.3);
    list-style-type: none;
    min-width: 150px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

/* 鼠标悬停显示二级菜单 */
header #nav-book:hover > .nav-secondary,
header #nav-knowledge-contest:hover > .nav-secondary,
header #nav-bookPart1:hover > .nav-tertiary,
header #nav-bookPart2:hover > .nav-tertiary,
header #nav-bookPart3:hover > .nav-tertiary {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


/* 二级、三级菜单链接样式 */
header .nav-secondary > li > a,
header .nav-tertiary > li > a {
    text-decoration: none;
    padding: 8px 12px;
    color: #333;
    display: block;
}


header .nav-secondary > li > a:hover,
.nav-tertiary > li > a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* 箭头 */
header .arrow-icon {
    margin-left: 5px;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
header a:hover .arrow-icon {
    transform: rotate(-90deg);
}

/* 过渡效果 */
header .nav-secondary,
header .nav-tertiary {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

/*通过悬停激活显示 */
header #nav-book:hover > .nav-secondary,
header #nav-knowledge-contest:hover > .nav-secondary,
header #nav-bookPart1:hover > .nav-tertiary,
header #nav-bookPart2:hover > .nav-tertiary,
header #nav-bookPart3:hover > .nav-tertiary {
    opacity: 1;
    visibility: visible;
}


header .nav-tertiary {
    top: 0; /* 确保三级导航与二级导航的顶部对齐 */
    left: 100%; /* 使三级导航显示在二级导航的右侧 */
}

.main #header {
    width: 100%;
    height: 100vh;
    margin-top: -250px;
    padding: auto;
    text-align: center;
    font: 50px/50px 'kaiti';
    color: #000000;
    text-shadow: #ffffff80 -1px 0.5px 20px;
    background-image: url('img/bg3.jpg');
}
.main #header h1{
    line-height: 500px;
    margin-top: 30vh;
}

.main #header-title {
    margin: 4vh 10vw;
    font-size: 32px;
    font-weight: 400;
    color:  #fff9ff;
    text-shadow: #fffff380 -1px 0.5px 20px;
    animation:floatUpDown1 7s infinite;

    }

    .main #header-content {
    margin: -20vh 10vw;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color:  #ffffff;
    text-shadow: #ffffff80 -1px 0.5px 20px;
    animation: floatUpDown2 7s infinite;

    }

    @keyframes floatUpDown1 {
        0%, 100% {
            transform: translateY(0); /* 初始位置 */
        }
        50% {
            transform: translateY(-15px); /* 上浮 20 像素 */
        }
    }

    @keyframes floatUpDown2 {
        0%, 100% {
            transform: translateY(-15px); /* 初始位置 */
        }
        50% {
            transform: translateY(0); /* 上浮 20 像素 */
        }
    }

    .main .number{
        position: absolute;
        top: 1000px;
        right: 400px;
        font-size: 100px;
        font-weight: 700;
        color: #481717;
        text-shadow: #ffffffaa -1px 0.5px 20px;
    }

    .main .main1{
    margin: 0 0;
    padding: 0 0;
    width: 100vw;
    height:400px;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url('img/bg3.jpg');
}
.main .main2{
    margin: -150px -7px;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/bg3.jpg');
}
.main .a{
    width: 80vw;
    height: 300px;
    position: relative;
    top: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 15px #000;
}
.main .b{
    box-shadow: -10px 10px 15px #000 inset;
    transition: .7s;
    overflow: hidden;
}
.main .b:hover{
    box-shadow: -10px 5px 15px #000;
    flex-shrink: 0;
    flex-grow: 0;
}
.main img{
    width: 400px;
}
.main nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.main .content-div {
    display: none;
    padding: 100px 100px;
    margin: 100px 0;
    width: 70vw;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.53);
    box-shadow: 5px 5px 15px #000;
}
.main .content-div h1 {
    margin: 0px 50px;
    font-size: 32px;
    font-family: 'kaiti';
    color: #2b2323;
    text-shadow: #ffffffc7 -1px 0.5px 20px;
    text-align: left;
    line-height: 50px;
}
.main .content-div h2 {
    margin: 20px 50px;
    font-size: 24px;
    font-family: 'kaiti';
    color: #3c1d1d;
    text-shadow: #ffffffc7 -1px 0.5px 20px;
    text-align: left;
}
.main .content-div p {
    margin: 20px 50px;
    font-size: 18px;
    font-family: 'kaiti';
    color: #2b2323;
    text-align: left;
}